@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

}

#container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 3rem;
    height: 100vh;
}

.profile__dev{
    display: flex;
    /* background-color: rgb(84, 73, 73); */
    margin: 1.2rem;
    
    overflow: hidden;
    height: 300px; width: 100%;
    gap: 1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 0.6rem;
}
#container>h2{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 4rem;   
}
.avatar{
    width:40%;
    border-radius: 0.8rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: 2px solid black
}
.profile__dev>.description{  
    display: flex;
    flex-direction: column; 
    width: 50%;
    text-align: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    justify-content: center;
    align-items: center;
}
h4{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 35px 20px;
    /* margin-bottom: 20px; */
}

td{
   text-align: center;
    padding-top: 20px;
}
td,th{
    border: 1px solid black;
    border-collapse: collapse;
}