@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
   
}
body{
    background-color:cadetblue
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#liste{
    
    width: 500px;
    height: 400px;
    background-color: white;
    text-align: center;
    border-radius: 10px;
}

.res{
    border-collapse: collapse;
    min-width: 400px;
    width: auto;
    box-shadow: 0 5px 50px rgba(0,0,0,0.15);
    cursor: pointer;
    margin: 40px auto;
    border-bottom: 5px solid midnightblue;
    
}
#header{
    background-color: blue;
    color: beige;
    text-align: left;
}

th,td{
    text-align: left;
    padding: 15px 20px;
    border: 1px solid #ddd;
}

.tbody:nth-child(even){
    background-color: #f3f3f3;
}