@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}
body{
    background-color: rgba(0, 0, 0, 0.834);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
    margin: 100px;
}
div {
    text-align: center;
}