@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

body {
    padding: 0px 50px;
}
h2 {
    font-size: 50px;
}
table * {
    text-align: center;
    padding: 5px;
    font-size: 20px;
}
table {
    margin: 50px auto;
}
thead {
    background-color: rgb(196, 240, 255);
}
tbody tr:nth-child(2n+1) {
    background-color: rgb(173, 208, 208);
}
tbody tr:nth-child(2n) {
    background-color: rgb(134, 158, 158);
}